<div class="blog-card">
  <div style="display: flex; justify-content: center; align-items: center; gap: 20px;">
    <p>{{ .Weight }}</p>
    {{ $image:= .Params.image }}
    {{ if $image }}
      {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "" ) }}
    {{ end }}
    <h4>
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h4>
  </div>
  <span class="rule-arrow">↗</span>

  {{/*  <ul>
    <li>
      <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
        <i class="fa-regular fa-circle-user"></i>{{ .Params.author }}
      </a>
    </li>
    <li>
      <i class="fa-regular fa-folder"></i>
      {{ $categories:= .Params.categories }}
      {{ range $i,$p:= $categories }}
        <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/">
          {{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }},{{ end }}
        </a>
      {{ end }}
    </li>
  </ul>  */}}

  {{/*  <a href="{{ .RelPermalink }}">
    {{ i18n "read_more" }}
  </a>  */}}
</div>
