{{ $context := .Context }}
{{ $class := .Class }}
{{ $base := site.BaseURL }}

<ul>
  <li>
    <a href="{{ $base | relLangURL }}">
      {{ i18n "home" | default "Home" }}
    </a>
    <span>/</span>
  </li>
  {{ range $i, $e:= $context.Ancestors.Reverse }}
    {{ if and (not .IsHome) (ne .Title "Pages") }}
      <li>
        <a href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
        <span>/</span>
      </li>
    {{ end }}
  {{ end }}
  <li>
    <span>{{ $context.Title }}</span>
  </li>
</ul>
