<!-- steps -->
{{ if isset site.Taxonomies "steps" }}
  {{ if not (eq (len site.Taxonomies.steps) 0) }}
    <div class="mb-8">
      <h5 class="mb-6">{{ i18n "steps" }}</h5>
      <div class="taxonomies rounded p-6">
        <ul>
          {{ range $name, $items := site.Taxonomies.steps }}
<li class="inline-block">
              <a
                class="taxonomiesticker {{ if (and (eq $.Page.Kind `term`) (eq $.Page.Type `tags`) (eq $.Page.Title .Page.Title)) }}
                  active
                {{ end }} m-1 block rounded px-3 py-1"
                href="{{ .Page.RelPermalink }}">
                {{ .Page.Title | strings.ToLower }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  {{ end }}
{{ end }}
