<footer>
  <div class="logo-container">
    <div class="qualebook-logo-footer">
      <!-- navbar brand/logo -->
      <a href="{{ site.BaseURL | relLangURL }}">
        {{ partial "logo" }}
      </a>
    </div>
    <div class="footer-logo">
      <img src="/logosne.png" alt="logo SNE"
        width="120px">
      <img src="/logoedrlab.png" alt="logo EDRLab"
        width="60px">
    </div>
  </div>
  <ul class="footer-list">
    {{ range site.Menus.footer }}
    <li>
      <a {{ if findRE `^http` .URL }} target="_blank" rel="noopener" {{ end }} href="{{ if findRE `^#` .URL }}
                {{ if not $.IsHome }}
                  {{ site.BaseURL | relLangURL }}
                {{ end }}{{ .URL }}
              {{ else }}
                {{ .URL | relLangURL }}
              {{ end }}">{{ .Name }}</a>
    </li>
    {{ end }}
    <li>{{ site.Params.copyright | markdownify }}</li>
  </ul>
</footer>