// Add your own custom styles here

// dt{
//     display: inline;
// }
// dd{
//     display: inline;
// }



:is(.dark .content) :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    color: floralwhite;
    font-weight: 600;
    font-size: 0.875em;
}
:is(.dark .content) {
    color: floralwhite !important;
    font-weight: 600;
    font-size: 0.875em;
}

.code {
    color: floralwhite !important;
}

// :is(.dark .code) {
//     color: floralwhite !important;
// }

.cover {
    content: url(https://github.com/edrlab/qualebook/blob/content-preparation-based-on-new-layout/assets/images/cover-light.png?raw=true);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

:is(.dark .cover) {
    content: url(https://github.com/edrlab/qualebook/blob/content-preparation-based-on-new-layout/assets/images/cover-dark.png?raw=true);
}


.normal {
    text-decoration: underline;
    color: darkblue;
}

body {
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.2), transparent 10%) 0 0 / 20px 20px;
    background-color: floralwhite;
}

:is(.dark body) {
    background: radial-gradient(circle at center, rgba(235, 235, 235, 0.2), transparent 10%) 0 0 / 20px 20px;
    background-color: darkslateblue;
    color: floralwhite;
}

:is(.dark li) {
    color: floralwhite !important;
}

.taxonomies,.mb-8  {
    background-color: cornsilk;
    border-color: burlywood;
    padding: 1em;
    border-radius: 10px;
}


:is(.dark .taxonomies) {
    background-color: darkslateblue;
    border-color: darkslateblue;
}


:is(.dark .mb-8) {
    background-color: darkslateblue;
    border-color: cornflowerblue;
    padding: 1em;
    border-radius: 10px;
}


.taxonomiesticker {
    background-color: floralwhite;
    border: solid 2px burlywood;
}

:is(.dark .taxonomiesticker) {
    background-color: darkslateblue;
    border: solid 2px cornflowerblue;
}

bg-body {
    background-color: cornsilk;
    border-color: burlywood;
}

bg-darkmode-body {
    background-color: darkslateblue;
    border-color: cornflowerblue;
}

blockquote {
    background-color: cornsilk !important;
    border-color: burlywood !important;
}

:is(.dark blockquote) {
    background-color: darkslateblue !important;
    border-color: cornflowerblue !important;
    color: floralwhite !important;
}

.bouton {
    padding: 1em;
    border-radius: 10px;
    border: solid 1px;
    border-color: burlywood;
    background-color: floralwhite;
    font-variant: bold;
    font-weight: bold;
}

.btn {
    padding: 1em;
    border-radius: 10px;
    border: solid 1px;
    border-color: burlywood;
    background-color: burlywood;
    font-variant: bold;
    font-weight: bold;
    color: darkslateblue;
}

:is(.dark .btn) {
    padding: 1em;
    border-radius: 10px;
    border: solid 1px;
    border-color: cornflowerblue;
    background-color: cornflowerblue;
    font-variant: bold;
    font-weight: bold;
}

:is(.dark .bouton) {
    padding: 1em;
    border-radius: 10px;
    border: solid 1px;
    border-color: floralwhite;
    background-color: darkslateblue;
    font-variant: bold;
    font-weight: bold;
    color: floralwhite;
}

:is(.dark a) {
    color: floralwhite;
}

:is(.dark .pagetitle) {
    background-color: darkslateblue;
    color: floralwhite;
}

.pagetitle {
    padding: 1em;
    // border-radius: 2%;
    // border: solid 1px;
    // border-color: burlywood !important;
    background-color: floralwhite;
    font-variant: bold;
    font-weight: bold;
    color: darkslateblue;
}

footer {
    background-color: cornsilk !important;
    border-top: solid 1px;
    border-color: burlywood;
}

:is(.dark footer) {
    background-color: darkslateblue !important;
    border-color: floralwhite;
    border-bottom: solid 1px;
    color: floralwhite;
}

header {
    background-color: cornsilk !important;
    border-color: burlywood;
    border-bottom: solid 1px;
}

:is(.dark header) {
    background-color: darkslateblue !important;
    border-color: floralwhite;
    border-bottom: solid 1px;
    color: floralwhite;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 3rem;
    color: DarkSlateBlue;
}

:is(.dark) h1,
:is(.dark) h2,
:is(.dark) h3,
:is(.dark) h4,
:is(.dark) h5,
:is(.dark) h6 {
    color: floralwhite;
}

h1 {
    font-size: 3rem;
}

h2, h3, h4 {
    font-size: 1rem;
}

h5 {
    font-size: 1rem;
    color: DarkSlateBlue;
}