footer {
    width: calc(100dvw - 15px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $-color-bg-blue;
    margin-left: -20px;
    padding: 20px 20px;
    position: relative;

    // & > * {
    //     flex: 0.5;
    // }
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.qualebook-logo-footer {
    position: absolute;
    top: 30px;
    left: 20px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    position: absolute;
    top: 30px;
    right: 20px;

    img {
        max-width: 100px;
    }
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 2;
    gap: 20px;
    margin: 0 15%;

    li {
        padding: 10px 20px;
        background-color: white;
        position: relative;

        &:has(a) {
            margin-right: 40px;
        }

        a::after {
            content: "\2197";
            position: absolute;
            right: -35px;
            top: 0;
            display: flex; // pour centrer facilement
            align-items: center;
            justify-content: center;
            
            width: 44px;
            height: 44px;
            background-color: $-color-light-blue;
            
            font-size: 24px;
            font-weight: 100;
            color: white;
        }
    }
}

@media screen and (max-width: 1105px) {
  footer {
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 2rem;
    width: calc(100% + 40px);
  }

  .footer-list {
    margin: 0;
  }

  .logo-container {
    flex-direction: row;
  }
  
  .qualebook-logo-footer, .footer-logo {
    position: unset;
  }
}