@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

@import "module-overrides";
@import "custom";
@import "header";
@import "footer";
@import "modals";
