.header-nav #nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    width: 100%;
    padding: 30px;
    border: 2px solid $-color-grey;

    li {
        font-size: 25px;
        flex: 1;
        text-align: center;
        position: relative;

        &:not(:last-child)::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            border-right: 1px solid $-color-grey;
        }
    }
}

.burger-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    width: 100%;
    padding: 30px;
    border: 2px solid $-color-grey;
    position: relative;

    .current-page-title {
        font-size: 1.5rem;
        flex: 1;
        text-align: center;
        position: relative;
        font-weight: bold;
    }
}

.burger-toggle {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-toggle {
    display: none;
}

#nav-toggle:not(:checked)+.burger-toggle #hide-button {
    display: none;
}

#nav-toggle:checked+.burger-toggle #show-button {
    display: none;
}

.nav-dropdown {
    display: none;
    background: white;
    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1rem;
    z-index: 1000;
    position: absolute;
    top: 100px;
    right: 0;
    width: 200px;

    #nav-menu-dropdown {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;

        li {
            font-size: 1.5rem;
            transition: 200ms;
            cursor: pointer;

            &:hover {
                background-color: $-color-bg-light;
            }
        }
    }
}

#nav-toggle:checked~.nav-dropdown {
    display: block;
}

#nav-toggle:checked~.header-nav {
    display: block;
}

.header-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav li {
    margin: 0.5rem 0;
}

.header-nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}


@media screen and (min-width: 900px) {
    .burger-menu {
        display: none;
    }
}

@media screen and (max-width: 899px) {
    .header-nav {
        display: none;
    }
}