// ===== MAIN COLORS ===== //

$-color-dark-blue: #0A38A3;
$-color-light-blue: #5E85ED;
$-color-bg-blue : #CEDAF4;
$-color-bg-light: rgba(206, 218, 244, 0.2);
$-color-orange: #F96E2B;
$-color-grey: #cccccc;
