{{ define "main" }}
  <section>
    <div>
      <div>
        title:
          {{ $image := .Params.image }}
          {{ if $image }}
            <div>
              {{ partial "image" (dict "Src" $image "Alt" .Title) }}
            </div>
          {{ end }}
          <h1>{{ .Title }}</h1>
          <ul>
            <li>
              <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
                {{ .Params.author }}
              </a>
            </li>
            <li>
              {{ $categories := .Params.categories }}
              {{ range $i, $p := $categories }}
                <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/">
                  {{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }},{{ end }}
                </a>
              {{ end }}
            </li>
            <li>{{ time.Format ":date_long" .PublishDate }}</li>
          </ul>

          <div>
            {{ .Content }}
            <h3>Objectif</h3>
            {{ .Objectif }}
            <h3>Mise en œuvre</h3>
            {{ .Meo }}
            <h3>Contrôle</h3>
            {{ .Controle }}
          </div>

          <div>
            <h5>{{ i18n "tags" }} :</h5>
            <ul>
              {{ $tags := .Params.tags }}
              {{ range $i, $p := $tags }}
                <li>
                  <a href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/">
                    {{ . | humanize }}
                  </a>
                </li>
              {{ end }}
            </ul>
            <div>
              {{ partial "social-share" (dict "Context" . "Class" "" "Title" (i18n "share") "Whatsapp" false "Telegram" false) }}
            </div>
          </div>

          {{ if site.DisqusShortname }}
            <div>
              {{ template "_internal/disqus.html" . }}
            </div>
          {{ end }}
        </article>
      </div>

      {{ $related := (where site.RegularPages "Section" "in" site.Params.mainSections) | intersect (where site.RegularPages ".Title" "!=" .Title) | union (site.RegularPages.Related .) }}
      {{ $related = $related | shuffle | first 3 }}
      {{ with $related }}
        <div>
          <h2>{{ i18n "related_posts" }}</h2>
          <div>
            {{ range . }}
              <div>
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
