{{ define "main" }}
  <section>
    <div>
      <div>
        <div>
          {{ $image := .Params.image }}
          {{ if $image }}
            {{ partial "image" (dict "Src" $image "Alt" .Title) }}
          {{ else if .Params.Email }}
            <img
              alt="{{ .Title }}"
              height="200"
              width="200"
              src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon" />
          {{ end }}
          <h1>{{ .Title }}</h1>
          <div>
            {{ .Content }}
          </div>
          <ul>
            {{ range .Params.social }}
              <li>
                <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow">
                  <span>{{ .title }}</span>
                  <i class="{{ .icon }}"></i>
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>

      <div>
        {{ $filterByAuthor := where site.RegularPages "Params.author" "==" .Title }}
        {{ range $filterByAuthor }}
          <div>
            {{ partial "components/blog-card" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
