{{ define "main" }}
  {{ partial "page-header" . }}

  <section class="rules-container rules-filtered-page">
    <div class="rules-filters">
      <!-- widget -->
      {{ partial "widgets/rules-filters.html" . }}
    </div>
    <div class="rules-list">
          <div style="text-align: center; margin-bottom: 36px;">
      <h1 style="font-size: 30px; font-weight: bold;">{{ .Title | title }}</h1>
      <p>{{ .Description }}</p>
    </div>
      {{ range .Data.Pages }}
        {{ partial "components/blog-card" . }}
      {{ end }}
    </div>
  </section>
{{ end }}
