{{ define "main" }}
  {{ partial "page-header" . }}

  <section>
    <ul>
      {{ $taxonomies := dict "categories" site.Taxonomies.categories "tags" site.Taxonomies.tags "steps" site.Taxonomies.steps }}
      {{ $current := "" }}
      {{ if eq .Permalink (`categories/` | absLangURL) }} {{ $current = "categories" }} {{ end }}
      {{ if eq .Permalink (`tags/` | absLangURL) }} {{ $current = "tags" }} {{ end }}
      {{ if eq .Permalink (`steps/` | absLangURL) }} {{ $current = "steps" }} {{ end }}

      {{ with index $taxonomies $current }}
        {{ range .ByCount }}
          <li>
            <a href="{{ .Page.Permalink }}">
              {{ .Page.Title | strings.ToLower }} ({{ .Count }})
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </section>
{{ end }}
