{{ define "main" }}
  <!-- {{ partial "page-header" . }} -->

  <div class="rules-container">
    <!-- sidebar -->
    <div class="rules-filters">
      <!-- widget -->
      {{ partial "widgets/rules-filters.html" . }}
    </div>
    <!-- blog posts -->
    <div class="rules-list">
      <h5>{{ i18n "rules"}}</h5>
      <div>
        {{ $paginator:= .Paginate .RegularPages }}
        {{ range $paginator.Pages }}
          <div class="card-container">
            {{ partial "components/blog-card" . }}
          </div>
        {{ end }}
      </div>
      {{ partial "components/pagination.html" . }}
    </div>
  </div>
{{ end }}
