{{ define "main" }}
<section>
  <div>
    <div class="rule-page-wrapper">
      <article>
        {{ $image:= .Params.image }}
        {{ if $image }}
        <figure>
          {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "w-full rounded") }}
        </figure>
        {{ end }}
        <div class="rule-navigation-container">
          <a href="../{{ .Params.before }}" class="previous-rule-link">
            <i class="fa-regular fa-arrow-left"></i> {{ i18n "previousrule" }}
          </a>
          <!-- <i class="fa-solid fa-arrows-to-circle"></i> -->
          <p class="current-rule-indicator">{{ .Params.description }}</p>
          <a href="../{{ .Params.after }}" class="next-rule-link">
            {{ i18n "nextrule" }} <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
        <h1 class="rule-title">
          {{ .Title | safeHTML | markdownify }}
        </h1>

        {{/* </p> */}}
        <div class="rule-text-container">
          <blockquote class="rule-abstract">{{ .Params.abstract | safeHTML | markdownify }}</blockquote>
          <h2>
            <i class="fa-solid fa-bullseye"></i> {{ i18n "objectives" }}
          </h2>
          <ul class="rules">
            {{ $objectif:= .Params.objectif }}
            {{ range $i,$p:= $objectif }}
            <li class="">
              {{ . | safeHTML | markdownify }}
            </li>
            {{ end }}
          </ul>
          <h2>
            <i class="fa-solid fa-rocket"></i> {{ i18n "meo" }}
          </h2>
          <ul class="rules">
            {{ $meo:= .Params.meo }}
            {{ range $i,$p:= $meo }}
            <li class="">
              {{ . | safeHTML | markdownify }}
            </li>
            {{ end }}
          </ul>
          <h2>
            <i class="fa-solid fa-magnifying-glass"></i> {{ i18n "control" }}
          </h2>
          <ul class="rules">
            {{ $controle:= .Params.controle }}
            {{ range $i,$p:= $controle }}
            <li class="inline-block">
              {{ . | safeHTML | markdownify }}
            </li>
            {{ end }}
          </ul>
          <div class="rule-validation-block">
            <h2>
              <i class="fa-regular fa-circle-check"></i> {{ i18n "validation" }}
            </h2>
            <ul>
              {{ $epubcheck:= .Params.epubcheck }}
              {{ if eq $epubcheck true }}
              <li>
                <i class="fa-solid fa-check-to-slot"></i> {{ i18n "epubcheck" }} 
              </li>
              {{ end }}

              {{ $ace:= .Params.ace }}
              {{ if eq $ace true }}
              <li>
                <i class="fa-solid fa-universal-access"></i> {{ i18n "ace" }}
              </li>
              {{ end }}

              {{ $humancheck:= .Params.humancheck }}
              {{ if eq $humancheck true }}
              <li>
                <i class="fa-solid fa-user-check"></i> {{ i18n "humancheck" }}
              </li>
              {{ end }}
            </ul>
          </div>
      </article>

      <aside>
        <div class="aside-text-container">
          <h2>
            <i class="fa-solid fa-circle-info"></i>
            {{ i18n "informations" }}&nbsp;
          </h2>
          <ul class="rule-infos-list">
            <li>
              <span>
                <i class="fa-solid fa-shoe-prints"></i> {{ i18n "stepsconcerned" }}&nbsp;:
              </span>
              {{ $steps:= .Params.steps }}
              {{ range $i,$p:= $steps }}
              <a href="{{ `etapes/` | relLangURL }}{{ . | urlize | lower }}/">
                {{ . | humanize }}</a>
              {{ end }}
            </li>
            <li>
              <span>
                <i class="fa-solid fa-note-sticky"></i> {{ i18n "tags" }}&nbsp;:
              </span>
              {{ $tags:= .Params.tags }}
              {{ range $i,$p:= $tags }}
              <a href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/">
                {{ . | humanize }}
              </a>
              {{ end }}
            <li>
              <span>
                <i class="fa-regular fa-folder"></i>{{ i18n "category" }}&nbsp;:
              </span>
              {{ $categories:= .Params.categories }}
              {{ range $i,$p:= $categories }}
              <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/">
                {{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
                {{ ", " }}
                {{ end }}
              </a>
              {{ end }}
            </li>

            {{/* 
            <h3>
              <i class="fa-solid fa-address-card"></i> {{ i18n "aboutthatrule" }}
            </h3> */}}
            <li>
              <span>
                <i class="fa-solid fa-address-card"></i> {{ i18n "ruleorigine" }} :
              </span>
              {{ $source:= .Params.source }}
              {{ range $i,$p:= $source }}
              {{ . | humanize }}
              {{ end }}
            </li>

            <li>
              <span>
                <i class="fa-solid fa-check"></i> {{ i18n "opquastref" }} :
              </span>
               {{ .Params.opquast }}
            </li>

            <li>
              <span>
                <i class="fa-regular fa-clock"></i> {{ i18n "updateon" }}
              </span>
               {{ time.Format ":date_long" .PublishDate }}
            </li>
            {{ $referentiel:= .Params.referentiel }}
            {{ range $i,$p:= $referentiel }}
            <li>
              <span>
                <i class="fa-solid fa-umbrella-beach"></i> {{ i18n "Referentiel" }} :
              </span>
               {{ . | markdownify }}
            </li>
            {{ end }}
            <li>
              <span>
                <i class="fa-solid fa-spell-check"></i> {{ i18n "vocabulary" }} :
              </span>
              <ul>
                {{ $vocabulary:= .Params.vocabulary }}
                {{ range $i,$p:= $vocabulary }}
                <li>
                  {{ . | safeHTML | markdownify }}
                </li>
                {{ end }}
              </ul>
            </li>
          </ul>
        </div>
      </aside>

      <!-- Related posts -->
      {{/* {{ $related := (where site.RegularPages "Section" "in" site.Params.mainSections) | intersect (where
      site.RegularPages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) }}
      {{ $related = $related | shuffle | first 3 }}
      {{ with $related }}
      <div>
        <h2>{{ i18n "related_posts" }}</h2>
        <div>
          {{ range . }}
          <div>
            {{ partial "components/blog-card" . }}
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div> */}}
    {{/* <div>

      {{ .Content }}

    </div> */}}
</section>
{{ end }}