{{ define "main" }}
  {{ with site.GetPage "about" }}
  <div class="about-page">
    <div class="about-main-section">
 <!-- Banner -->
    {{ with .Params.banner }}
      <section>
        <h1>{{ .title | markdownify }}</h1>
        <p>{{ .content | markdownify }}</p>
        {{ with .button }}
          {{ if .enable }}
            <a href="{{ .link | absURL }}">
              {{ .label }}
            </a>
          {{ end }}
        {{ end }}
      {{ end }}
      {{ .Content }}
    </section>
    <!-- /Banner -->

    <!-- Features -->
    {{ range $i, $e := .Params.features }}
      <section>
        <div>
          {{ partial "image" (dict "Src" .image "Alt" "feature image") }}
        </div>
        <div>
          <h2>{{ .title | markdownify }}</h2>
          <p>{{ .content | markdownify }}</p>
          <ul>
            {{ range .bulletpoints }}
              <li>{{ . | markdownify }}</li>
            {{ end }}
          </ul>
          {{ with .button }}
            {{ if .enable }}
              <a href="{{ .link | absURL }}">{{ .label }}</a>
            {{ end }}
          {{ end }}
        </div>
      </section>
    {{ end }}
    <!-- /Features -->

    <!-- Testimonials -->
    {{ with site.GetPage "sections/testimonial" }}
      {{ if .Params.enable }}
        <section>
          <div>
            <div>
              <div>
                <h2>{{ .Title | markdownify }}</h2>
                <p>{{ .Params.description | markdownify }}</p>
              </div>
              <div>
                <div>
                  <div>
                    {{ range .Params.testimonials }}
                      <div>
                        <div>
                          <div>
                            {{ partial "image" (dict "Src" .avatar "Size" "50x50" "Alt" .name) }}
                          </div>
                          <div>
                            <h3>{{ .name }}</h3>
                            <p>{{ .designation | markdownify }}</p>
                          </div>
                        </div>
                        <blockquote>{{ .content | markdownify }}</blockquote>
                      </div>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      {{ end }}
    {{ end }}
    <!-- /Testimonials -->
    </div>
   
         <aside>
          {{ range $i, $e := .Params.aside }}
      <section>
        <div>
          <div>
            <div>
              {{ partial "image" (dict "Src" .image "Alt" "feature image") }}
            </div>
            <div>
              <h2>{{ .title | markdownify }}</h2>
              <p>{{ .content | markdownify }}</p>
              <ul>
                {{ range .bulletpoints }}
                  <li>{{ . | markdownify }}</li>
                {{ end }}
              </ul>
              {{ with .button }}
                {{ if .enable }}
                  <a href="{{ .link | absURL }}">{{ .label }}</a>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </section>
    {{ end }}
    </aside>
    </div>
  {{ end }}
{{ end }}
