<!-- Call to actions -->
{{ with site.GetPage "sections/call-to-action" }}
  {{ if .Params.enable }}
    <section>
      <div>
        <div>
          <div>
            <div>
              {{ partial "image" (dict "Src" .image "Alt" "call to action") }}
            </div>
            <div>
              <h2>{{ .Title | markdownify }}</h2>
              <p>{{ .Params.description | markdownify }}</p>
              {{ with .Params.button }}
                {{ if .enable }}
                  <a href="{{ .link | absURL }}">{{ .label }}</a>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
<!-- /Call to actions -->
